.blog-post-card4-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card4-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card4-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card4-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card4-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card4-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card4-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card4-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
.blog-post-card4-root-class-name {
  margin-bottom: 64px;
}

.blog-post-card4-root-class-name2 {
  margin-bottom: 48px;
}


.blog-post-card4-root-class-name5 {
  margin-bottom: 48px;
}
@media(max-width: 480px) {
  .blog-post-card4-blog-post-card {
    border-radius: 10px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-home {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: none;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-logo {
  height: 28px;
  margin-left: var(--dl-space-space-fiveunits);
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text1 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text2 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text3 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text4 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text5 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navbar {
  height: 64px;
  display: flex;
  padding: 2rem;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(49, 48, 46, 0.45);
}
.home-link {
  display: contents;
}
.home-logo1 {
  height: 28px;
  margin-left: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-links {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
}
.home-linksgroup {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.home-homegroup {
  gap: 5px;
  display: flex;
}
.home-homeicon {
  fill: #D9D9D9;
  width: 24px;
  padding-bottom: 5px;
}
.home-home1 {
  color: #ffffff;
  align-self: center;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
}
.home-about {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.home-skills {
  color: #ffffff;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.home-educations {
  color: #ffffff;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.home-contacts {
  color: #ffffff;
  align-self: center;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.home-hero {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  margin-top: 150px;
  align-items: center;
  margin-bottom: 175px;
  justify-content: space-between;
}
.home-herodetails {
  position: relative;
  margin-left: 200px;
}
.home-herotext {
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5;
}
.home-text {
  font-size: 36px;
  font-style: normal;
}
.home-text02 {
  font-size: 64px;
}
.home-text04 {
  font-size: 32px;
}
.home-heroabout-me {
  height: 50px;
  margin-top: 30px;
  text-decoration: none;
}
.home-link02 {
  display: contents;
}
.home-heroimg {
  width: 30%;
  margin-right: 150px;
  text-decoration: none;
}
.home-about1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}
.home-aboutme {
  width: 300px;
  margin: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-sixunits);
}
.home-aboutcontent {
  display: flex;
  margin-top: 50px;
  padding-bottom: 150px;
}
.home-link03 {
  display: contents;
}
.home-aboutimg {
  width: 20%;
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 50px;
  text-decoration: none;
}
.home-aboutinfo {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 150px;
  margin-right: 90px;
}
.home-info {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.home-infoheadings {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  flex-direction: column;
}
.home-link04 {
  display: contents;
}
.home-info-h1 {
  font-size: 34px;
  font-family: Poppins;
  text-decoration: none;
}
.home-info-h2 {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
}
.home-info-h3 {
  font-size: 22px;
  font-family: Nunito;
}
.home-a-e-p-p {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.home-a-e {
  gap: 215px;
  display: flex;
}
.home-age {
  font-size: 18px;
  font-family: Nunito;
}
.home-text12 {
  color: #ea5252;
}
.home-email {
  font-size: 18px;
  font-family: Nunito;
}
.home-text14 {
  color: #ea5252;
}
.home-p-p {
  gap: 66px;
  display: flex;
}
.home-phone {
  font-size: 18px;
  font-family: Nunito;
}
.home-text17 {
  color: #ea5252;
}
.home-place {
  font-size: 18px;
  font-family: Nunito;
}
.home-text19 {
  color: #ea5252;
}
.home-aboutbtn {
  gap: var(--dl-space-space-unit);
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
}
.home-link05 {
  display: contents;
}
.home-homebtn {
  width: 160px;
}
.home-link06 {
  display: contents;
}
.home-homebtn1 {
  width: 160px;
}
.home-gradient {
  top: 0px;
  right: 0px;
  width: 1200px;
  height: 1325px;
  position: absolute;
  object-fit: cover;
}
.home-skills1 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  background-image: url("public/playground_assets/blobanimation1.svg"),linear-gradient(180deg, rgba(254, 172, 94, 0.25) 0.00%,rgba(199, 121, 208, 0.25) 52.00%,rgba(75, 192, 200, 0.25) 99.00%);
  background-repeat: no-repeat;
  background-position: center;
}
.home-skillsimg {
  top: 50px;
  left: 0px;
  right: 0px;
  width: 270px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.home-pricing {
  width: 100%;
  display: flex;
  padding-top: 200px;
  padding-bottom: 100px;
  justify-content: center;
}
.home-container02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.home-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text21 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
}
.home-image1 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  margin-bottom: 30px;
}
.home-text22 {
  font-size: 18px;
  font-family: Poppins;
  margin-bottom: 25px;
  letter-spacing: 0.2px;
}
.home-link07 {
  color: #000000;
  font-style: normal;
  margin-top: auto;
  font-family: Poppins;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #eac4ad;
}
.home-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-text23 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-image2 {
  width: 100%;
  margin-top: 19px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text24 {
  font-size: 18px;
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.2px;
}
.home-link08 {
  color: #000000;
  font-style: normal;
  margin-top: auto;
  font-family: Poppins;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #eac4ad;
}
.home-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-text25 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-image3 {
  width: 300px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text26 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 0.2px;
}
.home-link09 {
  color: #000000;
  font-style: normal;
  margin-top: auto;
  font-family: Poppins;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #eac4ad;
}
.home-education {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/gradientbg2-3500h.jpg");
}
.home-image4 {
  width: auto;
  margin-top: 50px;
  object-fit: cover;
  margin-bottom: 50px;
}
.home-education1 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 80px;
  justify-content: center;
}
.home-link10 {
  display: contents;
}
.home-educationcard0 {
  text-decoration: none;
}
.home-container04 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-link11 {
  display: contents;
}
.home-educationcard3 {
  text-decoration: none;
}
.home-link12 {
  display: contents;
}
.home-educationcard4 {
  text-decoration: none;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image5 {
  width: 500px;
  object-fit: cover;
}
.home-container05 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  margin-left: 150px;
  flex-direction: column;
}
.home-logo2 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-link13 {
  display: contents;
}
.home-image6 {
  height: 2rem;
  text-decoration: none;
}
.home-text27 {
  width: 500px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Poppins;
}
.home-text28 {
  width: 500px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Poppins;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  margin-right: 150px;
  flex-direction: row;
  justify-content: space-between;
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 5rem;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text29 {
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link14 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link15 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link16 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link17 {
  font-family: Poppins;
  text-decoration: none;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text30 {
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text31 {
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  font-family: Poppins;
}
.home-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text33 {
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link18 {
  display: contents;
}
.home-icon05 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link19 {
  display: contents;
}
.home-icon07 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-icon11 {
  width: 24px;
  height: 24px;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.home-text34 {
  align-self: center;
}
@media(max-width: 1600px) {
  .home-herodetails {
    margin-left: 150px;
  }
  .home-herotext {
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-text {
    font-size: 36px;
    font-style: normal;
  }
  .home-text02 {
    font-size: 64px;
  }
  .home-text04 {
    font-size: 32px;
  }
  .home-heroimg {
    width: 35%;
    margin-right: 130px;
  }
  .home-aboutme {
    margin-left: 148px;
  }
  .home-aboutimg {
    margin-left: 230px;
  }
  .home-aboutinfo {
    margin-right: var(--dl-space-space-fiveunits);
  }
  .home-info-h3 {
    font-size: 22px;
    font-family: Nunito;
  }
  .home-gradient {
    width: 1035px;
    height: 1143px;
  }
  .home-skills1 {
    background-image: url("public/playground_assets/blobanimation1.svg");
  }
  .home-education {
    background-size: cover;
    background-image: url("public/playground_assets/gradientbg2-3500h.jpg");
  }
  .home-education1 {
    padding-bottom: 80px;
  }
  .home-footer {
    background-color: transparent;
  }
  .home-image5 {
    width: 450px;
  }
  .home-container06 {
    margin-left: 0px;
    margin-right: 100px;
  }
}
@media(max-width: 1300px) {
  .home-links {
    gap: var(--dl-space-space-fourunits);
    z-index: 100;
    margin-right: 0px;
  }
  .home-herodetails {
    margin-left: 80px;
  }
  .home-herotext {
    line-height: 1.5;
  }
  .home-text {
    font-size: 32px;
    font-style: normal;
  }
  .home-text02 {
    font-size: 60px;
  }
  .home-text04 {
    font-size: 28px;
  }
  .home-heroimg {
    width: 35%;
    margin-right: 100px;
  }
  .home-aboutme {
    align-self: flex-start;
    margin-top: var(--dl-space-space-fourunits);
    margin-left: var(--dl-space-space-sixunits);
    margin-right: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-aboutcontent {
    align-self: center;
    padding-bottom: 100px;
  }
  .home-aboutimg {
    width: 25%;
    margin-left: 100px;
  }
  .home-aboutinfo {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 150px;
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-info-h1 {
    align-self: flex-start;
  }
  .home-info-h2 {
    align-self: flex-start;
  }
  .home-info-h3 {
    font-size: 22px;
    text-align: left;
    font-family: Nunito;
    line-height: 1.5;
  }
  .home-a-e-p-p {
    align-items: flex-start;
  }
  .home-a-e {
    gap: 200px;
  }
  .home-p-p {
    gap: 50px;
  }
  .home-gradient {
    width: 894px;
    height: 986px;
  }
  .home-skills1 {
    height: 100%;
    position: relative;
    background-image: url("public/playground_assets/blobanimation1.svg");
  }
  .home-skillsimg {
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .home-container02 {
    height: 100%;
    align-self: stretch;
    padding-top: 150px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 100px;
  }
  .home-pricing-card {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-pricing-card1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-pricing-card2 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-education {
    background-size: cover;
    background-image: url("public/playground_assets/gradientbg2-3500h.jpg");
  }
  .home-education1 {
    padding-bottom: 80px;
  }
  .home-footer {
    background-color: transparent;
  }
  .home-image5 {
    width: 400px;
  }
  .home-container06 {
    margin-left: 0px;
    margin-right: 20px;
  }
  .home-links-container {
    margin-right: 0px;
  }
  .home-container07 {
    margin-right: 20px;
  }
}
@media(max-width: 991px) {
  .home-logo {
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-logo1 {
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-links {
    gap: var(--dl-space-space-fourunits);
    margin-right: 0px;
  }
  .home-homegroup {
    display: none;
  }
  .home-herodetails {
    margin-left: 100px;
  }
  .home-herotext {
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-text {
    font-size: 26px;
    font-style: normal;
  }
  .home-text01 {
    font-style: normal;
  }
  .home-text02 {
    font-size: 45px;
    font-weight: 700;
  }
  .home-text03 {
    font-style: normal;
  }
  .home-text04 {
    font-size: 22px;
    font-weight: 500;
  }
  .home-heroabout-me {
    height: 35px;
    margin-top: 15px;
  }
  .home-heroimg {
    width: 37%;
    margin-right: 60px;
  }
  .home-aboutme {
    margin: var(--dl-space-space-fiveunits);
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-aboutcontent {
    margin-bottom: 50px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .home-aboutimg {
    width: 30%;
    align-self: center;
    margin-left: 0px;
  }
  .home-aboutinfo {
    align-self: stretch;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .home-info {
    gap: var(--dl-space-space-twounits);
    align-items: center;
  }
  .home-infoheadings {
    align-items: center;
  }
  .home-info-h3 {
    align-self: stretch;
    text-align: center;
    line-height: 2;
  }
  .home-a-e-p-p {
    gap: 15px;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
  }
  .home-a-e {
    gap: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-p-p {
    gap: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-aboutbtn {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-gradient {
    width: 1650px;
    height: auto;
    display: none;
    z-index: 100;
  }
  .home-skills1 {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(180deg, rgba(254, 172, 94, 0.25) 0.00%,rgba(199, 121, 208, 0.25) 52.00%,rgba(75, 192, 200, 0.25) 99.00%);
  }
  .home-skillsimg {
    top: 70px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .home-pricing {
    padding-top: 100px;
  }
  .home-container02 {
    gap: 50px;
    width: 100%;
    align-self: stretch;
    align-items: stretch;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    padding-bottom: 100px;
    justify-content: center;
  }
  .home-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    min-height: auto;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-image1 {
    width: 100%;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
  }
  .home-image3 {
    width: 100%;
  }
  .home-education {
    background-size: cover;
    background-image: url("public/playground_assets/gradientbg2-3500h.jpg");
  }
  .home-education1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: 80px;
  }
  .home-footer {
    width: 100%;
    flex-direction: column;
  }
  .home-container05 {
    align-items: center;
    flex-direction: column;
  }
  .home-container06 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    justify-content: flex-start;
  }
  .home-logo2 {
    align-items: center;
  }
  .home-text27 {
    width: 450px;
    text-align: center;
  }
  .home-text28 {
    text-align: center;
  }
  .home-links-container {
    margin-right: 0px;
    justify-content: center;
  }
  .home-container07 {
    margin-right: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-product-container {
    align-items: center;
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-contact {
    align-items: center;
  }
  .home-socials {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    display: flex;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-logo {
    margin-left: 0px;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-icon02 {
    width: 30px;
    height: 30px;
  }
  .home-nav1 {
    gap: var(--dl-space-space-fiveunits);
    align-self: center;
    align-items: center;
  }
  .home-text1 {
    font-size: 28px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-text2 {
    font-size: 28px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-text3 {
    font-size: 28px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-text4 {
    font-size: 28px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-text5 {
    font-size: 28px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-navbar {
    display: none;
  }
  .home-logo1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-links {
    gap: var(--dl-space-space-twounits);
  }
  .home-linksgroup {
    gap: var(--dl-space-space-threeunits);
  }
  .home-hero {
    z-index: 0;
    align-self: center;
    margin-top: 120px;
    margin-bottom: 200px;
    justify-content: space-between;
  }
  .home-herodetails {
    align-self: center;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-herotext {
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-text {
    font-size: 16px;
    font-style: normal;
  }
  .home-text01 {
    font-size: 24px;
    font-style: normal;
  }
  .home-text02 {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text03 {
    font-style: normal;
  }
  .home-text04 {
    font-size: 16px;
    font-weight: 500;
  }
  .home-heroabout-me {
    height: 30px;
  }
  .home-heroimg {
    width: 53%;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-a-e-p-p {
    margin-top: var(--dl-space-space-twounits);
  }
  .home-skills1 {
    height: 100%;
    position: relative;
    background-image: linear-gradient(180deg, rgba(254, 172, 94, 0.25) 0.00%,rgba(199, 121, 208, 0.25) 52.00%,rgba(75, 192, 200, 0.25) 99.00%);
  }
  .home-skillsimg {
    top: 50px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    align-self: auto;
  }
  .home-pricing {
    height: 100%;
  }
  .home-container02 {
    height: 100%;
    flex-flow: column;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-image1 {
    width: 100%;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-image3 {
    width: 100%;
  }
  .home-education {
    background-size: cover;
    background-image: url("public/playground_assets/gradient1-3500h.jpg");
  }
  .home-education1 {
    gap: 50px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: 80px;
  }
  .home-container04 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container05 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo2 {
    align-items: center;
  }
  .home-image6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text27 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text28 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    flex-direction: row;
    justify-content: center;
  }
  .home-container07 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 480px) {
  .home-home {
    width: 100%;
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-logo {
    margin-left: 0px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-nav1 {
    gap: var(--dl-space-space-twounits);
  }
  .home-logo1 {
    margin-left: 0px;
  }
  .home-links {
    display: none;
  }
  .home-herodetails {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-herotext {
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-text {
    font-size: 16px;
    font-style: normal;
  }
  .home-text01 {
    font-size: 24px;
    font-style: normal;
  }
  .home-text02 {
    font-size: 25px;
    font-weight: 700;
  }
  .home-text03 {
    font-style: normal;
  }
  .home-text04 {
    font-size: 15px;
    font-weight: 500;
  }
  .home-heroabout-me {
    height: 25px;
  }
  .home-heroimg {
    width: 40%;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-about1 {
    width: 100%;
  }
  .home-aboutme {
    width: 200px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-aboutcontent {
    margin-top: 0px;
  }
  .home-aboutimg {
    width: 45%;
  }
  .home-aboutinfo {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-info-h1 {
    align-self: center;
  }
  .home-info-h2 {
    align-self: center;
  }
  .home-info-h3 {
    width: 300px;
    font-size: 16px;
    align-self: center;
    font-family: Nunito;
    line-height: 2;
  }
  .home-a-e-p-p {
    width: 300px;
    margin-top: 0px;
  }
  .home-age {
    font-size: 14px;
  }
  .home-email {
    font-size: 14px;
  }
  .home-phone {
    font-size: 14px;
  }
  .home-place {
    font-size: 14px;
    text-align: center;
  }
  .home-aboutbtn {
    padding-top: var(--dl-space-space-twounits);
  }
  .home-homebtn {
    width: 120px;
  }
  .home-homebtn1 {
    width: 120px;
  }
  .home-skills1 {
    width: 100%;
    height: 100%;
    align-self: center;
    background-image: linear-gradient(180deg, rgba(254, 172, 94, 0.25) 0.00%,rgba(199, 121, 208, 0.25) 52.00%,rgba(75, 192, 200, 0.25) 99.00%);
  }
  .home-skillsimg {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 200px;
    position: absolute;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .home-pricing {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-container02 {
    gap: 25px;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
  }
  .home-pricing-card {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-text22 {
    letter-spacing: 0.2px;
  }
  .home-pricing-card1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-pricing-card2 {
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-image3 {
    width: 200px;
  }
  .home-education {
    position: relative;
    background-size: cover;
    background-image: url("public/playground_assets/gradient1-3500h.jpg");
  }
  .home-image4 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 200px;
    position: absolute;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  .home-education1 {
    gap: 50px;
    align-self: center;
    padding-top: 170px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: 80px;
  }
  .home-footer {
    width: 100%;
    padding: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .home-image5 {
    width: 300px;
  }
  .home-container06 {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-text27 {
    width: auto;
  }
  .home-text28 {
    width: auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .home-links-container {
    width: auto;
    align-items: center;
    margin-right: 0px;
    flex-direction: column;
  }
  .home-container07 {
    width: var(--dl-size-size-small);
    margin-right: 0px;
    justify-content: center;
  }
  .home-product-container {
    align-items: stretch;
    margin-right: 0px;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .home-text29 {
    text-align: center;
  }
  .home-link14 {
    text-align: center;
  }
  .home-link15 {
    text-align: center;
  }
  .home-link16 {
    text-align: center;
  }
  .home-link17 {
    text-align: center;
  }
  .home-container08 {
    align-items: center;
  }
  .home-contact {
    align-items: center;
    justify-content: space-between;
  }
  .home-text30 {
    align-self: stretch;
    text-align: center;
  }
  .home-text31 {
    align-self: stretch;
    text-align: center;
  }
  .home-text32 {
    align-self: stretch;
    text-align: center;
  }
  .home-text33 {
    align-self: center;
  }
  .home-icon-group {
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-container02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card2 {
    margin-bottom: 0px;
  }
  .home-education1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container05 {
    align-items: center;
    flex-direction: column;
  }
  .home-image6 {
    margin-bottom: 0px;
  }
  .home-text27 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text28 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container07 {
    margin-right: 0px;
  }
  .home-container08 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text34 {
    text-align: center;
  }
}
